body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh; 
  background: url('/background.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  position: absolute;
  cursor:pointer;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 0%; 
}

.top-left {
  top: calc(50% - 20vw); 
  left: 5.5vw;
  width: 23vw; 
  height: 3vw; 
}

.top-right {
  top: calc(50% - 21vw); 
  right: 5.5vw;
  width: 23vw; 
  height: 6vw; 
}

.center {
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw; 
  height: 9vw; 
}

.bottom-center {
  bottom: calc(50% - 18vw); 
  left: 50%;
  transform: translateX(-50%);
  width: 42vw; 
  height: 3vw; 
}

.social-media {
  bottom: calc(50% - 21vw); 
  left: 50%;
  transform: translateX(-50%);
  width: 20vw; 
  height: 3vw; 
}
