body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container2 {
  position: relative;
  height: 100vh; 
  background: url('/background1.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable2 {
  position: absolute;
  cursor:pointer;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 0%; 
}

.x {
  top: 50%;
  left: 27.6vw;
  transform: translateY(-50%);
  width: 10vw; 
  height: 10vw; 
}

.instagram {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw; 
  height: 10vw; 
}

.linkedin {
  top: 50%;
  right: 27.6vw;
  transform: translateY(-50%);
  width: 10vw; 
  height: 10vw; 
}


.info {
  bottom: calc(50% - 21vw); 
  left: 50%;
  transform: translateX(-50%);
  width: 10vw; 
  height: 3vw; 
}
